
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    font:  var(--fontweight-normal) var(--fontsize-default) var(--fontfamily-primary);
    color: var(--clr-neutral-black);
    position: relative;
}

h2 { font-size: var(--fontsize-heading); font-weight: var(--fontweight-normal); }

/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
/* Macrolevel design choises that defines the skeleton of the webpage and basic composition within components */
.page-header {
    position: fixed; /* page-header remains at the top of the viewport */
        top: 0;
        z-index: 5;
    width: 100%;
    padding: 0 var(--gap, 1rem);
    font-weight: var(--fontweight-thin, 300);
    box-shadow: 0 1px 3px 1px var(--clr-neutral-black-transparent);
}

main > * { padding: var(--gap-large, 20px); }

footer {
    padding: var(--gap-large, 20px) var(--gap, 1rem);
    margin-top: 100px;
}
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* One job, done well. It performs one logical job: formatting, design, shape, font and element colours  */

/*#ICONS */
.icon::before,
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font: var(--fa-font-solid);
}

.icon::before { margin-right: .5rem; } /* Gives a little bit of space to avoid the */ 
.icon::after { margin-left: .5rem; } /* icon being too close to the other elements*/

.social-links > .icon::before,
.social-links > .icon::after {
    font: var(--fa-font-brands);
}

.clickable-icon::before,
.clickable-icon::after {
    transition:         
        background-color 200ms ease-in, 
        color 200ms ease-in,
        transform 150ms ease-in;
}

.clickable-icon:hover::before,
.clickable-icon:hover::after {
    color: var(--clr-secondary);
    transform: scale(1.2);
}

/* ------------------------------------------ */

/* #BUTTONS */
.ui-button {
    padding: .4rem 1.3rem; /* creates the size of the button*/
    border: transparent;
    font-weight: var(--fontweight-heavy);
    cursor: pointer;

    transition: 
        opacity 250ms; 
}

.ui-button:hover {
    opacity: .7;
}
/* ------------------------------------------ */

/* Anchors and Links */
li:not([class]) a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
} /* Default behaviour for list without classes*/

.navigate-item { padding: 24px 0; }
.navigate-item a { padding: 20px 0; }
.navigate-item a:hover { border-bottom: 4px solid var(--clr-secondary); }
/* ------------------------------------------ */

/* #FLEX */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }

.card-container {
    gap: var(--gap);
    justify-content: space-between;
}
.card-container > .flex { gap: var(--gap); }
.card-item { flex-grow: 1; }

/* ------------------------------------------ */

/* #AESTHETIC ELEMENTS */
.hidden-content { display: none; }

.content-width { max-width: var(--content-width); margin: 0 auto;}

.flow > * { margin-bottom: var(--flow-space); margin-top: var(--flow-space); }
.flow-extra > * { margin-bottom: var(--flow-space-extra); margin-top: var(--flow-space-extra);}
/* ------------------------------------------ */

/* #COLOR SCHEMES */
/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-light { background-color: var(--clr-neutral-white); }

.background-dark { background-color: var(--clr-neutral-black); }

.background-primary { background-color: var(--clr-primary);}

.background-secondary { background-color: var(--clr-secondary);}

.background-secondary-darker { background-color: var(--clr-secondary-darker);}

.text-colour-dark {color: var(--clr-neutral-black);}

.text-colour-light {color: var(--clr-neutral-white);}

.text-colour-secondary {color: var(--clr-secondary);}

/* Company Colours */
.bg-designit { background-color: #a2d39b;}
.bg-asu { background-color: #61082b;}
.bg-uf-florida { background-color: #0093ce;}
.bg-topps { background-color: #ff1c1c;}
.bg-world-bycicle-relief { background-color: #d5001f;}
.bg-hearst { background-color: #b4d0e7;}
.bg-lonely-planet { background-color: #0d2481;}
.bg-clear-channel { background-color: #ffd830;}
/* ------------------------------------------ */

/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------- */
/* BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */

/*#region Page-Header */
.page-header .flex {
    justify-content: space-between;
    align-items: center;
}

.top-navigation-bar > .flex { column-gap: var(--gap-large, 12px); }
.navigate-section { column-gap: 1.5rem; }
/*#endregion Page-Header */

/*#region Main__header */
.main__header > .wrapper {
    position: relative;
        bottom: -100px;
}

.main__header__title{
    font-size: var(--fontsize-title);
    font-weight: var(--fontweight-heavy);
    margin-bottom: var(--gap-large, 2.5rem);
}

.main__header__info { font-weight: var(--fontweight-thin, 200);}

.main__header .start-call-to-action { margin: 2rem 0;}

.scroll-down { font-size: var(--fontsize-heading);}

.scroll-down::before {
    content: '\f063';
    margin-top: 3rem;
}



.main__header__img { max-width: 65%; }
/*#endregion Main__header */

/*#region Business-plan */
#business-plan { margin-top: 7rem; }

#business-plan h2 { margin-bottom: var(--gap-large, 40px); }

#business-plan label {
    margin-right: var(--gap-large, 40px);
    font-size: var(--fontsize-medium, 20px);
}

.business-plan__options > .card-item {
    width: calc(100% / 3);
}

#business-plan .card-item {
    border: 1px solid var(--clr-neutral-black);
    margin-top: 2rem;
}

.card-item__type {
    margin: 0 auto;
    padding: .6rem;
    text-align: center;
    font-size: var(--fontsize-small, 12px);
    font-weight: var(--fontweight-heavy, 600);

    border-bottom: 1px solid var(--clr-neutral-black);
}

.user_single::before { content: '\f007';}
.team-type::before { content: '\f0c0';}
.agency-type::before, .team-type::before { content: '\f1ad';}

.card-item__content { padding-left: 2rem; padding-right: 2rem;}

.subscription-type { font-size: var(--fontsize-large); }

.price-tag {
    font-weight: var(--fontweight-heavy, 600);
    margin-top: 1rem;
}

.frequency {
    font-weight: var(--fontweight-thin, 200);
    margin-top: .5rem;
}

/* .number-of-users::before { content: '\f007';}
.storage-space::before { content: '\f07b';}
.functionality::before { content: '\f1e0';}  */

.card-item__content .flex {
    column-gap: .5rem;
    align-items: baseline;
}

.card-item__call-to-action .ui-button {
    width: 100%;
    padding: .7rem;
}

.card-item__call-to-action a {
    color: var(--clr-secondary);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.card-item__content hr {
    width: 25%;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: var(--clr-neutral-black); /* old IE */
    background-color: var(--clr-neutral-black);  /* Modern Browsers */
}

.horizontal-card {
    justify-content: space-between;
    align-items: flex-start;
}
/*#endregion Business-plan */

/*#region Business-partner */
.business-partner {
    align-items: center;
    column-gap: 3rem;
}

.business-partner__img { max-width: 70%;}

.business-partner__info h2 { font-size: var(--fontsize-large);}

#find-business-partner {
    margin-top: 3rem;
    background-color: transparent;
    padding: .8rem 1.5rem;
    border: 1.5px solid var(--clr-neutral-black);
}

#find-business-partner:hover {
    color: inherit;
}
/*#endregion Business-partner */

/*#region Business-features */
#business-features .card-container {
    column-gap: 2rem;
}

#business-features .card-item {
    width: calc(100% / 3 - 2rem);
}

#business-features {
    text-align: center;
}

.features__img { transition: transform 250ms ease-in;}
.features__img:hover { transform: scale(1.2); }
/*#endregion Business-features */

/*#region Business-clients */
#business-discover-clients a {
    text-decoration: underline;
}

#business-clients {
    width: 100%;
    padding: 0;
    margin: 0;
}

.client-container { align-items: stretch; }

.client-section {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;

    position: relative;
}

.client-item {
    /* To force them to keep a square aspect ration */
    aspect-ratio: 1 / 1;
    height: 0;
    overflow: hidden; /* The svg is being pushed down*/

    position: relative; /* To move the svg back in the box */
}

.side-section > .client-item {
    width: calc(100% / 2);
    padding-top: calc(100% / 2); /* Forcing their height to be the same as their width*/
    cursor: pointer;
    transition: outline 300ms cubic-bezier(.23,1,.32,1);
}

.side-section > .client-item:hover {
    outline: 10px solid var(--clr-neutral-white-transparent);
    outline-offset: -10px;
}

.central-section > .client-item {
    width: 100%;
    padding-top: 100%; /* Forcing their height to be the same as their width*/
}

.client-item .svg-wrapper {
    position: absolute; /* Puts the svg back into the box */
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;

    display: flex; /* Centers the svg */
        justify-content: center;
        align-items: center;
}

.side-section svg {
    max-width: 65%;
    fill: var(--clr-neutral-white);
}

.central-section svg {
    max-width: 50%;
    fill: var(--clr-neutral-black);

    margin-top: 0;
}

.central-section .svg-wrapper {
    align-items: flex-start;
    justify-content: center;

    padding: 1.5rem;

    overflow-y: auto;
}

.central-section .svg-wrapper > .flex {
    max-width: 55ch;
}

.central-section hr {
    width: 20%;
    border: none;
    height: 2px;
    color: var(--clr-neutral-black-transparent);
    background-color: var(--clr-neutral-black-transparent);
}
/*#endregion Business-clients */

/*#region Business-call-to-action */
.business-call-to-action > .flex {
    justify-content: space-between;
    align-items: center;

    padding: 5rem 0;
}

.business-call-to-action button {
    background-color: white;
}
.business-call-to-action button:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-neutral-white);
}
/*#endregion Business-call-to-action */

/*#region FAQ */
.faq__heading {
    margin: var(--gap-large) auto;
}

.faq__element {
    padding: var(--gap-large, 50px) 0;
    position: relative;
}

.faq__element:nth-child(even) {
    border-top: 2px solid var(--clr-neutral-black-transparent);
    border-bottom: 2px solid var(--clr-neutral-black-transparent);
}

.faq__element > summary,
.faq__element[open] > summary {
    list-style-type: '';
    font-weight: var(--fontweight-heavy);
    cursor: pointer;
}

.faq__element > summary::after { content: '\f054'; }
.faq__element[open] > summary::after { content: '\f078'; }

.faq__element > summary::after,
.faq__element[open] > summary::after {
    position: absolute;
        right: 0;
}

.faq__element > summary:hover { color: var(--clr-secondary);}
/*#endregion FAQ */

/*#region Page-footer */
.page-footer > * { max-width: calc(var(--content-width) + 8rem); margin: 0 auto; }

.page-footer > .card-container {
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 4rem;
}

.page-footer > .card-container > .card-item {
    width: calc(100% / 5 - var(--gap));
}

.language-selection {
    padding-top: 2.5rem;
    border-top: 2px solid;

    flex-basis: 15ch;
    flex-grow: 0;
}

.current-lang::before {
    content: '\f57c';
    margin-right: .5rem;
}
.current-lang::after {
    content: '\f0d7';
    margin-left: .5rem;
}
/*#endregion Page-footer */
/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .main__header__img {display: none;}

    .navigate-item { font-size: var(--fontsize-small);}

    .top-navigation-bar > .flex,
    .navigate-section { column-gap: var(--gap, 12px); }
}

@media screen and (max-width:900px) {
    .business-plan__options { flex-direction: column; }
    .business-plan__options > .card-item { width: 100%; }

    #business-clients > .flex { flex-wrap: wrap; }
    #business-clients .client-section { width: 50%; }
    #business-clients .central-section {
        order: 1;
        flex-grow: 2;
    }
}

@media only screen and (max-width: 800px) {
    .page-header {
        left: 0;
        width: 25%;
        height: 100vh;

        padding-top: 3rem;
    }

    body {
        margin-left: 25%;
    }

    .page-header .flex { flex-direction: column; }

    .business-partner { flex-direction: column; }
    .business-partner__img { max-width: 100%; }

    #business-features .card-item { width: auto;}

    .page-footer > .card-container { row-gap: var(--gap);}
    .page-footer > .card-container > .card-item {
        width: auto;
    }

    .language-selection { align-self: flex-end; }

}
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */
